*{margin: 0; padding: 0;}

/* Removendo bullets e colocando borda */
body{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

.header{
    list-style:none; 
    border:1px solid #c0c0c0; 
    float:left; 
}

/* Estilizando itens do menu */
.header__menu li{
    position:relative; 
    float:left; 
    border-right:1px solid #c0c0c0; 
}

/* Estilizando links */
.header__menu li a{
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

.header__menu li a:hover{
    background:#333; 
    color:#fff; 
    -ms-box-shadow:0 3px 10px 0 #ccc; 
    -moz-box-shadow:0 3px 10px 0 #CCC; 
    -o-box-shadow:0 3px 10px 0 #ccc; 
    -webkit-box-shadow:0 3px 10px 0 #ccc; 
    box-shadow:0 3px 10px 0 #ccc; 
    text-shadow:0px 0px 5px #fff; 
}

/* Escondendo submenu */
.header__menu li ul{
    position:absolute; 
    top:25px; 
    left:0;
    background-color: #fff; 
    display:none;
}

/* Exibindo submenu */
.header__menu li.hover ul,
.header__menu li.over ul{
    display:block;
}

.header__menu li ul li{
border:1px solid #c0c0c0; 
display:block; 
width:150px;
}

.video {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.cards {
    text-align: center;
}

.article p:first-child {
    color: #666666;
}

.cards__title {
    font-size: 3em;
}

.cards p {
    color:#808080;
}

.article {
    text-align: center;
}

.article p:first-child {
    color: #666666;
}

.article__button {
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 1em;
    width: 8em;
    height: 2em;
    border-radius: 6px;
    border: 2px solid #4CAF50;
}

.fa {
    color:dimgray;
}

.fa-globe {
    font-size: 10em;
}